<h3> Your Characters </h3>
<% @characters.each do |character| %>
    <% if character.user.id == current_user.id %>
        <a href="/characters/<%= character.id %>"><%= character.character_name %></a>
        <%= character.level %><br>
    <% end %>
<% end %>