<h2>Create a New Character</h2>
<form class="" action="/characters" method="post">
    <label for="character_name">Name: </label>
    <input type="text" name="character_name" value=""><br>

    <label for="character_class">Class: </label>
    <input type="text" name="character_class" value=""><br>

    <label for="species">Species: </label>
    <input type="text" name="species" value=""><br>

    <label for="level">Level: </label>
    <input type="text" name="level" value=""><br>

    <input type="submit" name="" value="Create Character">
</form>