<div class="container">
 <!-- <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
 -->
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <h2>Welcome!</h2>
      <h3>Please login or signup to access your character repository.</h3>

      <form action="/login">
       <a href="/login" class="button">Login</a>
       <a href="/signup" class="button">Signup</a>
    </div>
  </div>
</div>
