<div class="container">
 <!-- <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
 -->
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <h4>Please login or signup to access your character repository.</h4>
      <a href="/login"><button type="submit" formtarget="_self">Login</button>
      <a href="/signup"><button type="submit" formtarget="_self">Signup</button>      
    </div>
  </div>
</div>
